[2020-07-14 18:28] joewxboy opened #7 "Fix "pausing" the services section"
In the following section: https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md#-pausing-the-services you show how to stop the services.  The instructions assume that the person has a local copy of the script.  However, the one-liner that we used to install and run the services did not save a local copy.  You may fix that by adding the following to the instructions:

Save a local e

[2020-07-15 11:59] bmpotter commented on #7
https://github.com/open-horizon/devops/pull/8 is ready for review

[2020-07-15 13:02] joewxboy commented on #7
Fixed, closing

[2020-07-15 13:02] #7 closed

[2020-07-17 20:06] joewxboy opened #10 "Should apt-get update failures be fatal?"
Occasionally, the ubuntu apt index is unavailable as they release an update.  This causes updating the apt package index operation to fail, causing the apt-get update operation to return -1, which in turn bails on the `deploy-mgmt-hub.sh` script.  Should this cause the script to fail, or should it be allowed to continue if the operator is notified and approves of continuing?

[code]

[2020-07-19 05:38] bmpotter commented on #10
If the `apt-get update` fails, isn't it likely the subsequent `apt-get install` commands will fail too? Even if they don't, the script results in installing a significant number of packages. Having the exact results of that be indeterminate because the repo list isn't fully up to date seems bad.

Also, i avoid prompting because it makes it difficult to call this script from higher level scripts.

[2020-07-21 20:03] joewxboy commented on #10
Probably a valid concern.  We should note this and close.

[2020-07-21 20:03] #10 closed

[2020-07-29 07:25] JoergWende opened #11 "Enable HTTPS for all-in-1"
### Mini-design:

- TLS only supported on linux (not macos)
- Change http: to ${HZN_TRANSPORT}:
- if HZN_TRANSPORT==https create key/cert in `/etc/horizon/keys/horizonMgmtHub.{crt,key}` (if doesn't exist yet):
[code]
    - `ln -sf horizonMgmtHub.crt sdoapi.crt && ln -sf horizonMgmtHub.key sdoapi.key`   #todo: add to sdo env vars for the key paths
    - `ln -s /etc/horizon/keys/horizonMgmtHub.crt /

[2020-07-29 18:29] dabooz commented on #11
@JoergWende In the anax repo, the builtin test environment runs the CSS with HTTPS enabled, so it is possible. In the CSS config file you have to set "ListeningType secure", "SecureListeningPort 9443" - doesnt have to be port 9443, "ServerCertificate /certs/css.crt" - whatever cert you generate, "ServerKey /certs/css.key" - whatever private key you have for the cert. And you can leave "Communicati

[2020-07-30 13:17] bmpotter commented on #11
@JoergWende also, be aware that the exchange doesn't currently support https natively (w/o a front-end ingress terminating the TLS). And as dave said, the `deploy-mgmt-hub.sh` script is intended for dev/test, which is why it sets up only http. If you can add https to it w/o making it more complicated for developers that don't need that, I'm open to a PR.

[2020-08-06 08:25] losdevnull opened #12 "Support using helm and/or k8s operator to deploy mgmt hub services"

[2020-08-12 17:01] bmpotter commented on #12
The current `deploy-mgmt-hub.sh` script is intended to be very simple (a single command with no required arguments, no kubernetes installation required). If you want to provide a separate way to deploy the mgmt hub services via a k8s operator, that would be great.

[2020-08-12 17:07] bmpotter opened #13 "Add utilities to run/test modified horizon binaries"
In the all-in-1 environment, a few utilities would help to automate the development process of building the modified source code of 1 of the components (agbot, agent, css, exchange, sdo) and restarting the service with it.

[2020-09-16 12:18] rvandiessen opened #16 "Install script in readme not working"
Downloading the Horizon agent and CLI packages...
Error: http code 404 from: downloading https://github.com/open-horizon/anax/releases/latest/download/ubuntu.bionic.amd64.assets.tar.gz, stdout: Not Found

I used the readme:
https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md

[2020-09-16 17:21] bmpotter commented on #16
Yes, the naming convention for anax releases changed. Fixed by https://github.com/open-horizon/devops/pull/17 which has been merged.

Please comment on this issue, if it is working for you now.

[2020-09-17 08:21] rvandiessen commented on #16
Just did a new install and everything worked.
Thanks for the quick response!

[2020-09-17 08:21] #16 closed

[2020-09-17 16:13] sirotsinskuy opened #18 "Increase exchange-api starting timeout value"
It would be good to have the exchange-api starting timeout bigger that 20 seconds (at least 30 sec, maybe up to 1 minute), as it could be the problem for some users. For my case - I was able to fit into that timeout after 3 times of trying and each time I had
`Error: can not reach the exchange at http://127.0.0.1:3090/v1 (tried for 20 seconds): curl: (52) Empty reply from server`

[2020-09-17 17:08] joewxboy commented on #18
@bmpotter This is the second or third time I've heard this complaint from someone running the all-in-1 install script.  On some machines and/or in some environments, they really need more time for the process to complete successfully.  Would the solution be to increase the default timeout, allow an override for the timeout and discuss in documentation, or some other approach?

[2020-09-18 16:11] bmpotter commented on #18
@joewxboy there already are overrides. See all of the env vars, starting at https://github.com/open-horizon/devops/blob/3b1e3f78f24a7b82023666349b6ebd4e88173611/mgmt-hub/deploy-mgmt-hub.sh#L85 . When there is syntax like:

[code]

that means use the value of `EXCHANGE_WAIT_ITERATIONS` the user has set in their environment, otherwise default to 10.

But i also just submitted a PR to increase the de

[2020-10-07 06:02] clementkng opened #21 "macOS Installation Prerequisites"
In the [All-in-1 readme](https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md), the instructions mention that this should be able to run in Mac. However, after running `sudo -i` and then `curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash` I get this result.

[code]

A workaround is to brew install all the necessary packages b

[2020-10-08 05:57] bmpotter commented on #21
@clementkng Thx for reminding me that brew shouldn't be run as root. I took your advice on the short term solution and updated the readme to specify that on macos they need to install jq, gettext, and socat before running the script.

I'm interested in what solution you suggest for the longer term to automatically handle the prereqs in `deploy-mgmt-hub.sh`. As far as i know there is no way to have

[2020-10-09 11:52] #18 closed

[2020-10-10 07:14] clementkng commented on #21
@bmpotter Yeah, I can't think of or find any other way other than the two ways you mentioned. Even looking at the script, I can't really tell where sudo would need to be applied so maybe it's best to leave the script as it is now (one extra command for Mac users isn't too much).

[2020-10-10 12:03] bmpotter commented on #21
@clementkng Ok, then i'll close this issue as complete (i made the readme updates). If you come up with a better way to handle this, you can reopen the issue.

[2020-10-10 12:03] #21 closed

[2020-11-30 08:50] xauthulei opened #23 "what's the password means"
I have installed a local all in one env, `what 's password means`?  or where to use it

hzn exchange user list -v
[verbose] Reading configuration file: /usr/local/etc/horizon/hzn.json
[verbose] Reading configuration file: /etc/default/horizon
[verbose] Config file does not exist: /var/root/.hzn/hzn.json.
[verbose] No project level configuration file found.
[verbose] The exchange url: http://host.d

[2020-11-30 14:42] bmpotter commented on #23
The password is the password for the `admin` user in the `myorg` organization. It is displayed in the last 2 lines of output from the `deploy-mgmt-hub.sh` script:

[code]

Where `<pw>` is replaced by the actual password. The only place you have to use that password is in the `HZN_EXCHANGE_USER_AUTH` environment variable, as shown above. The `hzn exchange ...` commands use the `HZN_EXCHANGE_USER_AU

[2020-12-01 01:33] xauthulei commented on #23
@bmpotter  Got it, Thanks for your clear info. Meanwhile,   why it is a hide string `*********` or how to get its real value if I needed it.

[2020-12-01 12:51] bmpotter commented on #23
@xauthulei you can't query the password, that would be a serious security exposure. In fact the horizon exchange doesn't even know the password, because as soon as it gets it, it 1-way encrypts, so the only thing it is able to do is check if a clear password it is given is correct. This is standard practice, and the reason the `deploy-mgmt-hub.sh` outputs this instruction at the end:

[code]

[2020-12-02 01:31] xauthulei commented on #23
@bmpotter , well. Thanks

[2020-12-02 01:31] #23 closed

[2020-12-02 01:43] xauthulei opened #25 "why the node is unconfigured after restarting."
After the installation, the node's `configstate` is `configured`:
[code]
However, I have stopped and started it, the state is `unconfigured`:
[code]

I am confuse to this, Could I know if it is OK.  or  Are there some missing in my side ? Thanks

[2020-12-24 09:22] xauthulei opened #26 "Error running git clone https://github.com/open-horizon/examples.git /tmp/open-horizon/examples: Cloning into '/tmp/open-horizon/examples'..."
When I am try to install the all-in-one env in my Mac, I met this error :
[code]

[2021-01-14 19:56] tinkoosingh opened #27 "How to uninstall open horizon"
I installed open horizon, it was working fine but I forgot to save HZN_ORG_ID and HZN_EXCHANGE_USER_AUTH. Then I restarted my system, after restart I was unable to make connection with horizon api (getting error). I tried reinstalling it but I was getting same error in re-installation.

Error: Can't connect to the Horizon REST API to run GET http://localhost:8510/node. Run 'systemctl status horizo

[2021-01-18 10:44] janvda opened #28 "generateToken() failing in All-in-1 on macOS"
I wanted to deploy the horizon management hub on my macbook (OS = big sur)
For that I followed the instructions of https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md

I also set the HZN_LISTEN_IP before launching script.
See output here below.

[code]

As you can see it is 5 times reporting `Input error` and it is reporting error:

[code]

[2021-01-18 10:48] janvda commented on #28
FYI - I have run same script with bash option `-x` to get more logging:

[code]

[2021-01-18 10:57] janvda commented on #28
I managed to reproduce the first Input Error by following command:

[code]

FYI when I remove ` | fold -w 30` from the command I am getting the following output which I had to stop (ctrl-c) as it seems to go on for ever.

[code]

[2021-01-18 12:35] janvda commented on #28
I managed to fix this issue by changing the `generateToken()` function in the [bash script](https://github.com/open-horizon/devops/blob/master/mgmt-hub/deploy-mgmt-hub.sh)

from:
[code]

into:
[code]

FYI I did this change in my fork (https://github.com/janvda/devops/blob/master/mgmt-hub/deploy-mgmt-hub.sh)
and this is what I now get when running the bash script:

[code]

[2021-01-18 12:46] janvda commented on #28
I think the above fix of the generateToken() function also works for unix OS.
I have tested it on centos 8 and on a raspberry pi and it is working.

on raspberrry pi:
[code]

on intel nuc - running CentOs
[code]

[2021-01-20 11:57] janvda opened #30 "Ess path error when starting edge service during deploy management hub script"
**Notes added by @bmpotter :**

- The root of the problem is the error that the agent encounters on macOS: `Error starting containers: API error (500): error while creating mount source path '/private/var/tmp/horizon/horizon1/ess-auth/90e3023e2a14b2d6b27254b6331eb33cd890a4076b9c74d2fa4a9914a1d9b669': mkdir /private/var/tmp/horizon/horizon1/ess-auth/90e3023e2a14b2d6b27254b6331eb33cd890a4076b9c74d2f

[2021-01-20 14:25] janvda commented on #30
It seems that it doesn't have permission to create a folder when trying to mount that folder:

[code]

FYI the complete`hzn eventlog list` output:

[code]

[2021-01-21 10:15] janvda opened #31 "support deploy-mgmt-hub.sh for CentOS"
Currently as is described in the [README.md](https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md): the script `deploy-mgmt-hub.sh` is only supported for Ubuntu 18.x and macOS.
It would be nice to extend the support to CentOS so that I can deploy the all-in-1 Horizon Management Hub, Agent and CLI on my Intel NUC6CAYB running CentOS Stream 8.

[2021-01-21 11:48] bmpotter commented on #31
@janvda interested in contributing a PR for this?

[2021-01-21 15:08] janvda commented on #31
I can give it a shot and see how far I get.

[2021-01-22 07:21] janvda commented on #31
I had a quick attempt.

There are 2 blocking things:
1.  ubuntu is using different commands (`apt-get`) to install packages than CentOS (rpm)
2. The script is installing the horizon debian package (`apt-get install -yqf $TMP_DIR/pkgs/horizon*.deb`).  So we need an `rpm` version of the horizon package for CentOS.

[2021-01-22 15:47] bmpotter commented on #28
I tested the cmd `head -c 1024 /dev/urandom | base64 | tr -cd A-Za-z0-9  | head -c 30` on ubuntu that janvda suggested in PR https://github.com/open-horizon/devops/pull/29 and it worked. So i'm merging the PR.

[2021-01-23 13:35] bmpotter opened #32 "Add multi-tenancy support to deploy-mgmt-hub.sh"
- [x] Have the script automatically add a hub admin using a curl command similar to:
[code]
- [x] Manually test that `hubadmin` can create an org using `hzn exchange org create ...`
- [x] Add example of adding an org in the "What's Next" section of documentation

[2021-01-24 08:07] bmpotter commented on #31
@janvda See https://github.com/open-horizon/anax/blob/master/agent-install/agent-install.sh for examples of the rpm commands

[2021-02-03 12:41] andreas-ibm opened #33 "install script makes assumptions on umask"
the install script uses cat to create the default config files:

[code]

which means that the users umask will determine the permissions.

in my case it meant that they were not world readable, causing the exchange-api and agbot to fail.

I would suggest adding:
[code]
after those lines

[2021-02-03 12:46] andreas-ibm commented on #33
Raised PR #34 to fix...

[2021-02-04 04:18] diru1100 commented on #32
Hey @bmpotter, are you working on this issue?

I am new to OH and trying to understand different repos, it would be great if I can work on this issue.

[2021-02-11 15:44] tinkoosingh commented on #27
I would love to work on this issue. Please assign it to me.

[2021-02-11 15:45] Prithvipal commented on #27
Please assign this issue to me as well.

[2021-02-12 16:51] Anitaachu commented on #31
@bmpotter @joewxboy I would love to take a swing at this issue

[2021-02-12 20:42] joewxboy commented on #31
@janvda Are you still working on this issue?  If not, can @Anitaachu give it a shot?

[2021-02-12 22:16] janvda commented on #31
No, I am not working on it. @Anitaachu can certainly give it a shot.

[2021-02-13 14:58] joewxboy commented on #31
OK, @Anitaachu let @bmpotter know if you have any questions.

[2021-02-15 18:09] codejaeger commented on #27
@tinkoosingh I could get around this by removing the packages horizon and horizon-cli completely i.e.
`apt-get remove horizon horizon-cli`
Then simply re-run the script. There is also a flag -P (when used with -S that solves the issue) but it also deletes the created volumes for the containers.
Did you find a better alternative?

[2021-02-18 18:52] codejaeger commented on #13
@bmpotter Can I work on this issue?

[2021-02-22 13:51] andreas-ibm commented on #33
oooh, the PR has been merged, all good!

[2021-02-22 13:51] #33 closed

[2021-02-22 15:03] bmpotter commented on #32
Dandamudi,
 
Yes, you can work on it. You need to first post a comment to the issue asking to work on it, so github will let me assign it to you
 
Bruce Potter STSM, IBM Edge Computing, IBM, NYEmail: bp@us.ibm.com
 
 
----- Original message -----From: Dandamudi Rohit <notifications@github.com>To: open-horizon/devops <devops@noreply.github.com>Cc: bmpotter <bp@us.ibm.com>, Mention <mention@noreply.

[2021-02-22 15:48] diru1100 commented on #32
Yes @bmpotter

I have deleted the comment as I was already assigned 2 issues when I commented, and didn't want to overburden myself with more.

Have made PRs for them both and am glad to work on this as well.

Thank you for getting back to me.

[2021-03-01 06:09] mounaiban opened #35 "Support Ubuntu 20.04.2 with deploy-mgmt-hub.sh"
I have managed to install Open Horizon on Ubuntu 20.04.2 with a hacked version of ``deploy-mgmt-hub.sh``. Should I send in a PR for an updated version that runs on Ubuntu 20.x?

At time of writing, on all Open Horizon documentation I can find, only  Ubuntu 18.04 and macOS are supported, but I believe we can use Ubuntu 20 without any issues (based on the reasoning that OH is very containerised). Al

[2021-03-01 12:15] codejaeger commented on #13
@bmpotter, I have a question, these utilities are they meant for when any of the above 4 has a change in the source code? You mentioned only the binaries by which I guess you meant `horizon` and `horizon-cli` packages. Also, should a way be added to reflect the updates made to the source code not only from the remote but from local also?
I also wanted to ask is there a reference to how the agbot i

[2021-03-01 19:49] bmpotter commented on #13
The primary use case i had in mind is: i'm a developer wanting to make some code changes to 1 of the mgmt hub components. So i need to make my code changes, build it, and get it running in the mgmt hub so i can test it. The mgmt hub components are all docker images, so the straightforward way to do this is build the docker image with an updated version/tag, and run `deploy-mgmt-hub.sh -u` to get i

[2021-03-05 18:54] joewxboy opened #36 "Error installing socat on OSX in deploy_mgmt_hub.sh"
I ran the `deploy_mgmt_hub.sh` script for the first time on a MacBook Pro with a recent OSX.  Near the end of the install process, the script checks to see if socat is installed, and attempts to install it if it is not present.  Since the install script is running as root using sudo, this can be problemmatic with some package managers.

In this particular case, it appears to be trying to use MacPo

[2021-03-08 15:46] andreas-ibm opened #38 "More deployment flexibility"
I love the all-in-one script, but I want to take it further!

I've already made a cut-down version of the script (`deploy-node.sh`) to just install an agent and at some point in the future will want a `deploy-cluster.sh` too.

Plus flags to not actually run anything on the node.

Would this group be interested in such scripts, and would it be preferable to have them in a single script (a generic `

[2021-03-08 22:38] TheMosquito opened #39 "AgBot gets wrong token in all-in-one deployment."
I deployed an all-in-one, but no agreements ever formed, even though node registration succeeded. Looking at the agbot logs I saw lots of credential errors.

Looking inside the container, we discovered that the `/etc/horizon/anax.json` file had somehow gotten the wrong token! Editing this file to contain the correct token, and then stopping and starting the container fixed the problem. Agreements

[2021-03-09 02:20] mounaiban commented on #38
Yes, please make this happen. Especially that "do nothing" mode. Dry runs are a lifesaver to testers.

I'm voting to have a single script that does both agent-only and agent-with-hub installations. But if you end up going for multiple scripts, then I would prefer a hub-only script and an agent-only script.

[2021-03-09 09:59] andreas-ibm commented on #38
@bmpotter any comment?

[2021-03-09 10:22] andreas-ibm commented on #38
I'm also wondering whether I should make the `deploy-mgmt-node.sh` output a shell-script too with the appropriate variables, like spitting out a `hzn-admin.sh` and a `hzn-user.sh` for users to source before running `hzn` commands and the `deploy-node.sh` script (or `deploy.sh -n` if a more generic script is desired)

[2021-03-09 14:07] andreas-ibm commented on #38
What's the relationship with https://github.com/open-horizon/anax/releases/latest/download/agent-install.sh? I see it's referenced in `deploy-mgmt-node.sh` but not actually used. It seems to support both edge and cluster nodes so could fit a lot of my needs...

[2021-03-09 14:39] andreas-ibm commented on #38
sorry @mounaiban but the `agent-install.sh` script from the anax repo does everything I need! Going to close this issue.

[2021-03-09 14:39] #38 closed

[2021-03-11 02:28] mounaiban commented on #38
I haven't gotten far enough to need ``agent-install.sh``, but thanks for mentioning it. The do-nothing option is still a great idea for ``deploy-mgmt-hub.sh`` although that's for another issue at another time...

[2021-03-11 15:18] ypravo opened #40 "Add support for pcc64le platform in deploy-mgmt-hub.sh"
Just now `deploy-mgmt-hub.sh` script supports amd64 platform only. Is it possible to add support for Power (ppc64le) platform? Maybe without SDO stuff that requires amd64 only. Also RHEL/CentOS support is desired because both often are used on this platform.

[2021-03-16 12:37] tinkoosingh commented on #27
Uninstall feature was already there in existing script, only image deletion logic was missing. So fixed as part of pr https://github.com/open-horizon/devops/pull/42.

Hence closing this issue.

[2021-03-16 12:37] #27 closed

[2021-03-22 18:20] bencourliss opened #43 "Research and document CI tools"
Investigate and research open source CI technologies to migrate the Open-Horizon projects to from using Travis-CI.
### Possible Options
1. LF-Edge Jenkins & Jenkins Job Builder Plugin
2. GitHub Actions
3. CircleCI - Research to see if there is a free option for Open Source projects

### Output:
* Fork and create a branch in the `open-horizon/devops` repo
* Create a Pros/Cons for each one in MarkDo

[2021-03-22 18:26] bencourliss opened #44 "Implement PoC for alternative CI tooling"
As a part of Issue #43 create a Proof of Concept implementation for two of the options
    * Implement compilation of Anax code (Go dependencies)
    * Ensure that we have an environment that can handle the e2edev test code (ability to run Docker containers, etc). Note that the PoC does not necessarily need to run the e2edev tests but at least needs to be able to support it.
    * Should take appr

[2021-03-22 18:32] Al-tekreeti commented on #43
Can you assign it to me?

[2021-03-22 18:39] bencourliss opened #45 "Implement e2edev CI tooling for Anax"
Based on chosen CI build option to replace Travis-CI, create a build pipeline that can compile Anax and run the e2edev tests
Should integrate with GitHub Pull Requests. So anytime a PR is created for Anax, it should trigger this build pipeline and serve as a gate to a PR merge. Once this is working in your own fork, you will need the help of an administrator to change the Anax GitHub repo settings

[2021-03-22 18:45] Al-tekreeti commented on #44
Okay, can you assign it to me?

[2021-03-22 18:45] Al-tekreeti commented on #45
Can you assign it to me?

[2021-03-23 02:30] mounaiban commented on #35
As of 170c053, ``deploy-mgmt-hub.sh`` now works on Ubuntu 20, albeit without Snap Docker support (see #37 for details). Thanks @bmpotter, @losdevnull (and also @joewxboy)

[2021-03-23 02:30] #35 closed

[2021-03-29 20:00] dabooz opened #46 "Add Hashicorp Vault to the All-in-one management hub"
See https://github.com/open-horizon/anax/issues/2404 and make essentially the same changes to the all in one management hub script, with the following clarifications:
1) for now, only start the vault when the HZN_VAULT environment variable is set to something/anything. In the future we will make starting the vault the default behavior, but not while the feature is being built.
2) the config file f

[2021-04-09 09:50] girishkumarbk opened #48 "All-in-1 should not run brew as root on macOS"
root# curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash

----------- Verifying input and the host OS...
Management hub services will listen on 127.0.0.1
Installing prerequisites using brew, this could take a minute...
Error running brew install jq gettext: Error: Running Homebrew as root is extremely dangerous and no longer supported.
As Home

[2021-04-12 13:54] bmpotter opened #49 "Add agent-install.cfg to all-in-1 CSS"
This will make it easier to add additional edge nodes to the all-in-1 mgmt hub by using `agent-install.sh -i anax: -k css:`

Anax issue https://github.com/open-horizon/anax/issues/2448 adds that new `agent-install.sh` flag combination.

[2021-04-12 14:20] bmpotter commented on #36
@joewxboy I'm confused by this. First, there is no reference to socat in `deploy-mgmt-hub.sh`. It is the `anax/anax-in-container/horizon-container` that checks for `socat` and starts/stop it when necessary. But i don't see anywhere that `horizon-container` tries to install `socat`, instead of tells the user to install it [here](https://github.com/open-horizon/anax/blob/b604ff0642a53bba2b90c02b0728

[2021-04-12 14:32] bmpotter commented on #25
@xauthulei I can see how this is a little confusing, but it is working as designed. Since `./deploy-mgmt-hub.sh -S` shuts down the open-horizon management hub components, the edge node needs to be unregistered first (because it doesn't make sense to have a registered edge node when its management hub isn't running).

Then when you start the mgmt hub again using `./deploy-mgmt-hub.sh -s` then only

[2021-04-12 15:43] joewxboy commented on #36
That must have been what I saw, and assumed that it attempted installation.  Closing.

[2021-04-12 15:43] #36 closed

[2021-04-12 18:16] bmpotter commented on #39
@TheMosquito did this error occur on ubuntu or macos?

[2021-04-13 02:54] xauthulei commented on #25
I am fine to this, Thanks @bmpotter

[2021-04-13 02:54] #25 closed

[2021-04-13 16:16] #40 closed

[2021-04-13 16:36] bmpotter commented on #30
@janvda We are thinking that PR https://github.com/open-horizon/anax/pull/2434 might resolve this problem. Retry your case after that PR is merged and built into the `horizon-cli` pkg and gets released to https://github.com/open-horizon/anax/releases/latest/download

[2021-04-13 18:00] TheMosquito commented on #39
@bmpotter  This was on ubuntu 18.04, running on an Intel NUC i7/16GB.

[2021-04-14 11:17] girishkumarbk opened #50 "Deploy All-in-1 Horizon fails on ubuntu 20.04"
root@ip-10-0-0-122:~# curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash
----------- Verifying input and the host OS...
Error: the host must be Ubuntu 18.x (amd64, ppc64le) or Ubuntu 20.x (amd64, ppc64le) or macOS or RedHat 7.9 (ppc64le) or RedHat 8.3 (ppc64le)
root@ip-10-0-0-122:~#
root@ip-10-0-0-122:~#
root@ip-10-0-0-122:~#
root@ip-10-0-0-12

[2021-04-14 11:18] girishkumarbk commented on #50
root@ip-10-0-0-122:~# curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash
----------- Verifying input and the host OS...
Error: the host must be Ubuntu 18.x (amd64, ppc64le) or Ubuntu 20.x (amd64, ppc64le) or macOS or RedHat 7.9 (ppc64le) or RedHat 8.3 (ppc64le)
root@ip-10-0-0-122:~#
root@ip-10-0-0-122:~#
root@ip-10-0-0-122:~#
root@ip-10-0-0-12

[2021-04-14 11:27] bmpotter commented on #39
@TheMosquito hmmm, i have no idea how to debug this, because it works fine for me. Is this repeatable?

[2021-04-14 12:41] bmpotter commented on #50
This bug was caused by a previously committed PR. I'll fix this soon, hopefully by the end of today.

[2021-04-15 14:07] bmpotter opened #51 "Rerunning deploy-mgmt-hub.sh results in 2 errors: unregistration fails and registration gets no agreement"
**Unregistration problem scenario:**

[code]

**Registration problem scenario:**

[code]

[2021-04-15 14:38] bmpotter commented on #28
Fixed in https://github.com/open-horizon/devops/pull/52

[2021-04-15 14:39] bmpotter commented on #32
Implemented in https://github.com/open-horizon/devops/pull/52

[2021-04-15 14:39] bmpotter commented on #48
Fixed in https://github.com/open-horizon/devops/pull/52

[2021-04-15 14:43] bmpotter commented on #50
@girishkumarbk please test this, and if it fixes the problem, comment here and close the issue.

[2021-04-15 15:25] bmpotter opened #53 "Fix problems caused by PR 42 (remove openhorizon images)"
The image remove command that PR 42 added was too broad:

[code]

Because the developer could have his/her own openhorizon images he/she doesn't want deleted. Also, it was resulting in a bunch of errors like this on my mac:

[code]

Also, it wasn't documented in the usage `-P` would also remove images.

[2021-04-16 05:01] bmpotter commented on #39
I figured out the problem: by default it generates random pw/tokens so the user doesn’t have to specify any args if they don’t want to (this can be overridden). So on the 2nd run, the agbot token was being changed in the exchange, but the running agbot wasn’t picking it up. In the fall timeframe we always restarted the agbot because of that bug where it wasn’t picking up the org. But i removed tha

[2021-04-16 10:29] bmpotter commented on #26
What is your network like that causes you to hit this error? I've cloned 100's of git repos and never hit this error. And the examples repo isn't that big.

My reluctance to adding the line `git config --global http.postBuffer 524288000` as you proposed is what do i set the `http.postBuffer` value to? How do i know `524288000` will solve everyone's problem? Also, if you look at https://stackoverfl

[2021-04-16 14:27] linggao opened #55 "Add an option to not install the edge node for all-in-one management hub"
Add an option for deploy-mgmt-hub.sh script so that it will install everything except the edge node. This option will be used in e2edev testing.

[2021-04-18 23:43] Al-tekreeti commented on #43
So far, a readme file is created in `devops/documentation` in which the main features, usage limits, VM specs, and incurred costs of the GitHub actions, Circle-CI, and LF Edge system are summarized. Then, the development life-cycle of the pipeline using GitHub actions and the LF Edge system is schematically demonstrated. Lastly, the average execution time delay for a pipeline that implements the e

[2021-04-19 15:26] Al-tekreeti commented on #44
The proof of concept implementation using GitHub actions is done.

[2021-04-20 13:17] bencourliss opened #57 "Build Anax Docker images and upload to Dockerhub"
When a PR is created, a GitHub Action runs the e2edev test against the new code. Once this is successful, the code should be merged in and a new GitHub Action should be kicked off that builds Anax and creates the Docker images. These images should be uploaded into Dockerhub.

Output of this Issue should be to create the second GH Action that builds and uploads the docker images. You can use your o

[2021-04-20 13:24] ypravo opened #58 "Improve support ppc64le platform under RHEL"
Need to improve Horizon packages installation logics in RHEL on ppc64le platform avoiding packages deletion. Such deletion potentially could affect already running hzn services and/or Docker containers that have Horizon packages dependency. Also need to restrict support of RHEL to 8.x versions only as a mainstream in Open Horizon now.

[2021-04-20 13:27] Al-tekreeti commented on #57
Okay, can you assign it to me?

[2021-04-20 14:55] bmpotter commented on #55
The new flag to have it not install the agent is `-A`

[2021-04-21 14:24] #58 closed

[2021-04-22 05:03] bmpotter commented on #11
Both the exchange and sdo mgmt hub components are currently adding https support, so i'm planning to implement this issue in the next couple of weeks.

[2021-04-23 19:24] linggao opened #62 "AGBOT_ID is not honored in deploy-mgmt-hub.sh"
Setting the environment variable AGBOT_ID to something other than `agbot` does not work. The agbot id in the exchange is always 'agbot'

[These lines](https://github.com/open-horizon/devops/blob/master/mgmt-hub/deploy-mgmt-hub.sh#L756-L767) need to use the variable `$AGBOT_ID` instead of hardcoded `agbot`

[2021-04-27 15:04] linggao opened #64 "All-in-1 improvements for e2edev"
There are a few improvements needed for all-in-1 to be used by e2edev:

- [x] Image pull: Always pull when the image tag is `latest` or `testing`.  For other tags, try to pull, but do not report error if the image exists locally, but does not exist in the remote repo. This way e2edev can use the locally built image.
- [x] Add a second agbot when env variable `START_SECOND_AGBOT` is set to `true`.

[2021-04-30 16:20] Al-tekreeti commented on #57
The second workflow is created that would kick off when the e2edev test is successful.  It would build the required docker images for amd64 architecture and upload them to the docker hub.

[2021-04-30 16:27] Al-tekreeti commented on #44
So far, the ci pipeline that builds anax binaries and conducts the e2edev test is fully implemented using GitHub actions. The remaining part is to do the same job using lfedge Jenkins-based infrastructure.

[2021-05-07 12:26] linggao opened #70 "deploy-mgmt-hub.sh should check /tmp/horizon before using it"
User got the following error when running deploy-mgmt-hub.sh
[code]
This is because that there is a file called `/tmp/horizon` exists. `deploy-mgmt-hub.sh` command should tolerate it and delete it. Another suggestion is that it uses a non-general name like `/tmp/horizon-mgmt-hub` instead of `/tmp/horizon` to reduce the chances of conflicts.

[2021-05-07 14:11] bmpotter commented on #11
Waiting for https://github.com/open-horizon/exchange-api/pull/500 to be merged, so i can modify all-in-1 to also configure the exchange for TLS

[2021-05-11 20:28] linggao opened #71 "Add agbot URL to the agent configuration"
- [x] `HZN_AGBOT_URL` in `/etc/default/horizon` (completed several weeks ago in a separate issue)

The related Anax issue is https://github.com/open-horizon/anax/issues/2465

[2021-05-12 18:51] linggao opened #72 "Support different log levels for different containers"
For agbot, we need to set `ANAX_LOG_LEVEL` env var for the agbot container.

[2021-05-13 11:51] dabooz opened #73 "Provide a switch to skip deployment of example services"
Provide a switch/env-var that causes the manage hub script to skip publishing the example services from the OH examples repo. This will reduce the amount of time it takes for the hub to be started.

[2021-05-26 20:32] bmpotter commented on #70
Changing to use `/tmp/horizon-all-in-1` instead.

[2021-06-01 15:54] Al-tekreeti commented on #45
I think this is done using GitHub actions.

[2021-06-14 10:47] bmpotter opened #76 "Default of DOCKER_COMPOSE_CMD should be golang version"
Zhe Yan reported on the LF Edge open-horizon-mgmt-hub channel (on matrix chat svr) that on his Ubuntu 18.04.3 LTS on x86 machine, docker-compose is panicking:

[code]

The python version of docker-compose is only supposed to be used on `ppc64le`, but in some corner cases the DOCKER_COMPOSE_CMD variable gets set incorrectly.

[2021-06-17 13:30] bmpotter opened #78 "Make ANAX_LOG_LEVEL configurable for agbots in all-in-1"

[2021-07-02 15:10] illeatmyhat opened #80 "Attempting to deploy mgmt hub services on OpenShift (k8s) results in file permissions issues"
[A long standing issue in OpenShift](https://github.com/kubernetes/kubernetes/issues/2630) causes a variety of issues, generally resulting in the non-root user being unable to read or write any files at all.

This manifests in the management hub services as
agbot:
[code]
css:
[code]
exchange:
[code]
sdo:
[code]

The databases, mongo and postgres, have dedicated OpenShift images which already work.

[2021-07-10 11:15] oliverchan opened #82 "Encounter FileNotFoundError when executing ./deploy-mgmt-hub.sh"
Hi

Hit into following error when executed either ./deploy-mgmt-hub.sh or curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash
`root@hub:/home/oliver# ./deploy-mgmt-hub.sh
Management hub services will listen on http://127.0.0.1
Updating apt-get package index...
Installing prerequisites, this could take a minute...
----------- Downloading templat

[2021-07-12 13:50] bmpotter commented on #71
@linggao Does `AdbotURL` need to be added to the agent config file or the agbot config file? If agent, isn't adding `HZN_AGBOT_URL` to `/etc/default/horizon` good enough?

[2021-07-12 14:01] bmpotter commented on #82
@oliverchan It looks like you have the python version of `docker-compose` installed on your system, instead of the more common golang version. The person who opened [issue 76](https://github.com/open-horizon/devops/issues/76) had the same error. But their situation was caused by `deploy-mgmt-hub.sh` not defaulting to the correct version of `docker-compose` in some circumstances. But that was fixed

[2021-07-13 00:12] oliverchan commented on #82
@bmpotter , thanks for the response. Taken a look of [isse 76](https://github.com/open-horizon/devops/issues/76)
I believe I faced exactly what the person faced as well. My issue was faced by executing the same command `curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash` on a newly setup VM, and I don't think I have the python version of docke

[2021-07-13 13:08] #71 closed

[2021-07-14 14:57] oliverchan commented on #82
@bmpotter .  I believe something was changed. I'm receiving a different error. Will you be able advice what I can do to overcome the below error?

[2021-07-14 23:54] oliverchan commented on #82
@bmpotter
Suspect something to do with css-api and mongo db. Here's the trace from docker ps and docker log css-api

`root@oliver-VirtualBox:/home/oliver/devops/mgmt-hub# docker ps
CONTAINER ID   IMAGE                                         COMMAND                  CREATED         STATUS                                PORTS
                                   NAMES
9429f753ced3   openhorizon/amd64

[2021-08-25 12:02] bmpotter commented on #11
Added TLS support for exchange.

All-in-1 TLS has been tested by several users, include e2edev.

[2021-08-25 12:02] #11 closed

[2021-08-25 12:12] bmpotter commented on #62
@linggao I'm assigning this issue to you so you can verify it. It was fixed back in april with [devops PR 63](https://github.com/open-horizon/devops/pull/63) .

[2021-08-25 12:23] bmpotter commented on #28
Since i haven't heard from @janvda in 4 months about testing this fix i'm closing the issue. It can be reopened if someone finds a problem with it.

[2021-08-25 12:23] #28 closed

[2021-08-25 12:24] bmpotter commented on #32
Tested by multiple people over the last 4 months.

[2021-08-25 12:24] #32 closed

[2021-08-25 12:25] bmpotter commented on #48
Closing this issue because i haven't heard from @girishkumarbk about testing it in 4 months.

[2021-08-25 12:25] #48 closed

[2021-08-25 12:26] #50 closed

[2021-08-25 12:27] bmpotter commented on #30
Haven't heard from @janvda in 4 months, so closing this issue.

[2021-08-25 12:27] #30 closed

[2021-08-25 12:29] bmpotter commented on #39
Tested by many people over the last 4 months.

[2021-08-25 12:29] #39 closed

[2021-08-25 12:31] bmpotter commented on #53
Tested by multiple users over the last 4 months

[2021-08-25 12:31] #53 closed

[2021-08-25 12:32] bmpotter commented on #51
Tested by multiple users over the last 4 months

[2021-08-25 12:32] #51 closed

[2021-08-25 12:33] bmpotter commented on #49
Tested by multiple users over the last 4 months

[2021-08-25 12:33] #49 closed

[2021-08-25 12:38] bmpotter commented on #55
Tested by bruce during development often

[2021-08-25 12:38] #55 closed

[2021-08-25 12:39] bmpotter commented on #64
Tested by e2edev

[2021-08-25 12:39] #64 closed

[2021-08-25 12:57] bmpotter commented on #73
Tested by myself often during development, and tested by e2edev.

[2021-08-25 12:57] #73 closed

[2021-08-25 13:00] bmpotter commented on #70
Been running this way for 3 months with no problems reported, so closing it.

[2021-08-25 13:00] #70 closed

[2021-08-25 13:02] bmpotter commented on #76
Tested this myself, because no one else available.

[2021-08-25 13:02] #76 closed

[2021-08-25 13:06] bmpotter commented on #78
Tested by e2edev

[2021-08-25 13:06] #78 closed

[2021-08-25 15:33] bmpotter commented on #72
This was implemented in [devops issue 78](https://github.com/open-horizon/devops/issues/78)

[2021-08-25 15:33] #72 closed

[2021-09-29 17:47] elatocki opened #87 "Unresolved filename in deploy-mgmt-hub.sh"
I was following the "Deploy All-in-1 Horizon Management Hub, Agent, and CLI" steps in the devops readme for Ubuntu 18.04.
I ran into an issue during the "Downloading template files" step:
[code]
Looks like this could be avoided by bash-style interpreting the `OH_DEVOPS_REPO` variable during the template file download. I would be happy to make this change.

[2021-09-30 19:27] #87 closed

[2021-10-01 03:02] linggao opened #89 "Got 'the input device is not a TTY' error when running management hub in a non tty device"
Got the following errors in anax git hub Actions which invokes the all-in-in management hub.
[code]

[2021-10-04 12:14] bmpotter opened #92 "Add vault TLS support to all-in-1"

[2021-10-07 18:02] Al-tekreeti opened #93 "Agbot container stuck in "restarting" status"
I am trying to setup all-in-one management hub in a ubuntu 18.04 machine when I got this issue. I tried stopping and restarting using the flags -S and -s, and also I tried stopping and purging using -SP flags then setting it up again, but unfortunately without success. The logs do show an issue of not able to initialize the agbot:

2021-10-07T15:51:22.705263071Z I1007 15:51:22.705147      10 main.

[2021-10-10 22:30] TParashchuk opened #94 "Problem with installation Horizon Management Hub"
Hi. I am trying to setup all-in-one management hub in a Ubuntu 18.04.4 and 20.04.3 LTS (Virtual box). My issues with command for run deploy-mgmt-hub.sh, it doesn't working correctly, how I see docker containers was created and started, but edge node wasn't created.

The logs Ubuntu 20.04.3 LTS:

root@ubuntuoh:~ curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-

[2021-10-12 03:26] linggao commented on #93
@Al-tekreeti I think it is the version of the postgres image (postgres:latest) that caused the problem. Please try to start the management hub with the following command for now.
[code]

[2021-10-12 12:48] Al-tekreeti commented on #93
@linggao Did not fix the issue and it still pulling postgres with "latest" tag.

[2021-10-12 13:24] linggao commented on #93
@Al-tekreeti That means the POSTGRES_IMAGE_TAG  env variable is not taken. Please make sure you clean all the leftover containers before restart. (docker ps -a)
And please make sure to use the flag `-sE` for sudo command.  Or you can use the following command:
[code]
Anyway, find a way in your env to make the script take the POSTGRES_IMAGE_TAG env variable.
It seems that the latest release of post

[2021-10-12 13:57] bencourliss opened #95 "Build Open Horizon Artifacts and Deploy to Dockerhub or GitHub Package Repository"
We need GitHub Actions to build artifacts for OpenHorizon repositories and deploy those artifacts to either Dockerhub or GitHub Container Registry or Github Package Repository.

Each OpenHorizon repository would create Docker images and tag them `testing` and deploy. In addition, the Anax repository would need to build RPM and Debian packages and deploy them to the GitHub Package Repository.

[2021-10-12 14:32] linggao commented on #93
@Al-tekreeti Good to hear.  Btw, I tested POSTGRES_IMAGE_TAG=13, it works too. It is the version 14 which was release on 09/30/3021 that broke the code. We will stay with 13 for now. I will make a change in the deploy-mgmt-hub.sh to use 13 as default. Thanks for reporting this issue.

[2021-10-12 16:16] #93 closed

[2021-10-14 09:26] bmpotter commented on #94
@naphelps so probably `docker-compose exec ...` is reading the stdin? Why did you use `docker-compose exec` instead of `docker exec`? I'm wondering if using the latter and **not** specifying `-i` would prevent it from reading stdin.

[2021-10-18 16:14] #94 closed, assigned to bmpotter

[2021-10-20 18:43] marhabac33 opened #99 "Create docs directory"
Add `/docs` directory where source files for the GitHub pages site will be stored.

[2021-10-27 13:12] TParashchuk opened #100 "Problem with connect edge devices to managment hub on GCP"
I installed management hub using ‘all-in-one’ on the VM Ubuntu 18.04.6 LTS (Google cloud platform). All checks were successful after installation.
I was moving 2 ways:

**1.)**	I have 2 devices Raspberry Pi 4. I prepared my devices using ‘Preparing an edge device Linux on ARM (32-bit)’ for edge devices. Also, I added firewall rules for ports on the VM Ubuntu 18.04.6 LTS (management hub on the GCP)

[2021-10-29 12:37] #100 closed, assigned to nobody

[2021-11-02 17:59] TParashchuk opened #101 "System monitoring edge nodes and services"
Hi guys. How can I get monitoring edge nodes and services? I wanna to get information about payload. Information should include data about using CPU, memory, storage, network and etc.

Some additional information:
I have managment hub (on Google Cloud Platform) and 2 local Raspberry devices (with installed agent and created test service).
I saw https://open-horizon.github.io/docs/admin/monitoring.

[2022-02-01 13:26] bencourliss commented on #57
This work has been completed.

[2022-02-01 13:26] #57 closed

[2022-02-01 13:27] bencourliss commented on #45
This work is completed.

[2022-02-01 13:27] #45 closed

[2022-02-01 13:27] bencourliss commented on #44
This work is completed.

[2022-02-01 13:27] #44 closed

[2022-02-01 13:27] bencourliss commented on #43
This work is completed.

[2022-02-01 13:27] #43 closed

[2022-02-15 17:13] t-fine opened #103 "Object to note Open Horizon component version compatibility per release"
It was brought up in the Examples Working Group that it would be nice to have an easy to reference object that noted the compatible versions of all the Open Horizon components when a new "release" is created.

[2022-02-23 16:47] TheMosquito opened #104 "The all-in-one script should provide the user's credentials earlier in the process."
The code here:
https://github.com/open-horizon/devops/blob/master/mgmt-hub/deploy-mgmt-hub.sh#L1351
never runs if even a simple and correctable error occurs. As a result, the user's credentials for the hub are essentially discarded (they are never given access to them). The user must then always start over from scratch in this situation instead of just fixing the error and continuing. Some example

[2022-02-28 18:35] TheMosquito commented on #104
To add to the above, I finally got deploy-mgmt-hub.sh to install a Management Hub on Windows under WSL2, but then struggled for a while to setup credentials to use it. I would like it to emit a file containing all of the creds like it does now when successful, but write them as comments into the file, and then add the un-commented `export` statements needed to interact with the Exchange. I.e.:

[2022-03-16 18:25] TheMosquito opened #105 "Short term fix for matching Agent and Hub versions for the "all-in-one"."
How are users expected to get the correct version of the `agent-install.sh` script for an all-in-one Hub? I think this is not very well spelled out in [https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md](https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md). Reading between the lines there, I think they are supposed to (at the exact same time as they get the `de

[2022-03-16 18:30] joewxboy commented on #105
@bmpotter Could I get your thoughts on this?  The core issue is that we don't want the All-in-one script to drift too far from the agent-install script.  This can typically happen when agents are installed in a later session from the Hub.

[2022-03-23 21:02] johnwalicki opened #106 "GHA needed to copy Mgmt-Hub documentation to OH Docs"
There is a good set of documentation in the devops/mgmt-hub repo about how to set up the All-in-one Horizon Management Hub, Agent, and CLI

It does not appear in the Open Horizon documentation however.

Add a Copy Docs GHA and configure it to copy the mgmt-hub folder README content to open-horizon.github.io/docs/mgmt-hub

[2022-03-30 01:53] johnwalicki commented on #106
Now that the GHA for anax/docs is implemented, let's stay on roll and also set up a GHA for devops/docs to docs/devops
https://github.com/open-horizon/anax/issues/3044

[2022-03-30 01:55] johnwalicki commented on #106
@Sukriti-sood - we need a similar GHA for devops/docs

[2022-03-31 03:13] Sukriti-sood commented on #106
yup, will implement it

[2022-04-22 02:41] johnwalicki commented on #106
Did #110 make the GHA work?

[2022-04-22 14:38] johnwalicki commented on #106
The GHA to copy
[code]
is failing.  The error is :
[code]

[2022-04-22 15:00] johnwalicki commented on #106
1. Do we need to create the `docs/devops` directory in the open-horizon.github.io repo first?
2. I compared
[code]
and see several differences.

[2022-04-27 10:22] Sukriti-sood commented on #106
@johnwalicki Please confirm that you have filled out the `PERSONAL_TOKEN` secret with `Personal Access Token` Value. The directory structure is correct, I tested the same workflow in my own repository.

[2022-04-28 02:39] johnwalicki commented on #106
I think so... https://github.com/open-horizon/devops/actions/runs/2205341529/workflow
[code]
is set to https://github.com/open-horizon/devops/settings/secrets/actions
Repository secrets
PERSONAL_TOKEN

[2022-04-28 02:41] johnwalicki commented on #106
To be honest, I made up a PERSONAL_TOKEN secret with a splat of characters. Didn't put it anywhere else.

[2022-04-28 06:34] Sukriti-sood commented on #106
Hi @johnwalicki , Can we have google meet when you are available. This will better help me to understand the context.

[2022-05-03 14:21] joewxboy commented on #106
@johnwalicki At this point, I suspecct (with no concrete evidence) that the paths are causing the URL generation to fail because they are not folders:

        src_path: mgmt-hub/README.md
        dst_path: /docs/mgmt-hub/index.md

Maybe change it to this:

        src_path: mgmt-hub
        dst_path: /docs/mgmt-hub

[2022-05-11 04:19] rksharma95 opened #111 "Error: http code 400 from: vaultUnseal"
I was trying to install management hub services on my local system with Ubuntu 20.04.4 and getting this error
[code]

the `docker ps` result is as:
[code]

[2022-05-30 21:51] Al-tekreeti commented on #95
@bencourliss I am developing the following GitHub workflow in devops repo [https://github.com/Al-tekreeti/devops/blob/oh-repos-build/.github/workflows/deb-rpm-build.yml](url). It builds and push to docker hub the following anax images: `amd64_anax_k8s`, `amd64_anax`, `amd64_cloud-sync-service`, `amd64_edge-sync-service`. Am I using the right makeFile targets? I just want to double check that with

[2022-06-07 12:21] Al-tekreeti opened #112 "The documentation directory is not showing up!"
Did I do something wrong? The merged changes are not there!

_Originally posted by @Al-tekreeti in https://github.com/open-horizon/devops/issues/75#issuecomment-1148587250_

[2022-06-21 13:19] Al-tekreeti commented on #95
@bencourliss Another question: GitHub packages repo does not support deb and rpm packages. Is there any workaround I am not aware of?

[2022-06-21 14:42] bencourliss commented on #95
As mentioned in our DevOps WG meeting, we publish the Debian and RPM packages during a release of Anax (https://github.com/open-horizon/anax/releases). This is done today via internal Jenkins pipelines approixmately every other Thursday. We need GitHub actions to create the Deb and RPM agent files for the architectures we support. What needs to be decided is the cadence and what triggers the build

[2022-06-21 16:01] Al-tekreeti commented on #95
To build deb and rpm tar files, VERSION and BUILD_NUMBER variables need to be passed to the makefile. Are there any guidelines on how to choose them? Also, GitHub actions do support manual triggering using "workflow_dispatch" option.

[2022-07-18 15:04] TheMosquito opened #117 "Generate SBOM information for all Open Horizon components at each release."
Following from US gov't "EO 14028" (Google that string for more info) all US gov't software procurement will require SBOM information. Other industries will likely follow. It should bee pretty straightforward to generate this SBOM information during release builds using tools like Syft (https://github.com/anchore/syft).

[2022-07-18 15:16] joewxboy commented on #117
@bencourliss Does this have any dependencies on migrating any automation, or can/should it be done with existing automation?

[2022-07-26 12:39] joewxboy commented on #112
This repo is not following the documentation conventions and placing the README and other markdown files in a `/docs` folder.  This convention is what integrates the documentation.  Create a `/docs` folder and place the markdown docs into it in order to fix.

[2022-07-26 12:40] joewxboy commented on #112
See issue #99

[2022-07-28 00:49] #99 closed

[2022-08-04 18:47] bencourliss commented on #103
The Examples releases will now have a text file named `openhorizon-tested-versions.txt` that will contain the list of images that have been tested and are released and available on Dockerhub. See https://github.com/open-horizon/examples/releases/download/v2.30.0-947/openhorizon-tested-versions.txt for an example.

[2022-08-04 18:47] #103 closed

[2022-08-30 15:07] johnwalicki opened #120 "HTML formatting errors in docs/readme.md"
When the devops/docs/readme.md is copied over to the Open Horizon Docs website, there are html formatting issues.  See the page rendered at: https://open-horizon.github.io/docs/devops/

We need to fix the README.md at
https://github.com/open-horizon/devops/blob/master/docs/README.md

[2022-08-30 15:55] johnwalicki commented on #120
@joewxboy Does the gem / jekyll pre-processors / rendering run on these copied devops / anax pages before generating the html pages for the OH docs website?

I see several references to macOS which could be replaced with substitution strings.

[2022-09-01 18:53] johnwalicki commented on #120
The GHA ran 3 hrs ago, but copied the wrong  markdown file over to the
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/mgmt-hub/index.md

It copied
https://github.com/open-horizon/devops/blob/master/README.md
It should have copied
https://github.com/open-horizon/devops/blob/master/docs/README.md

Investigating.

[2022-09-01 19:15] johnwalicki commented on #112
Fixed by #99

[2022-09-01 19:15] #112 closed

[2022-09-01 19:29] johnwalicki commented on #120
I fixed the GHA in #122 and forced a change in the docs/README.md (see https://github.com/open-horizon/devops/commit/54446cddef809f9069c3bd451a9356cc176bdafb)
It ran the fixed GitHub Action https://github.com/open-horizon/devops/runs/8143327346
Oddly, it pushed the change to  https://github.com/joewxboy/open-horizon.github.io.git
and now @joewxboy need to push to the OH docs repo.
A slow boat to C

[2022-09-01 20:07] johnwalicki commented on #120
It didn't work.  See https://open-horizon.github.io/docs/devops/docs/index.html
Now the page renders with visable `<a name=deploy-all-in-one></a>`
Which wasn't expected because other pages (in the anax repo stripped out the html anchors)
Reopening.

[2022-09-06 00:04] johnwalicki commented on #120
Finally!
Two fixes
- the anchor `<a name="quoted-anchor">` should be quoted
- the copydocs needs to use a PAT from an Org Admin (me) instead of an Org Secret.
Closed by #125

[2022-09-06 00:04] #120 closed

[2022-09-13 14:39] bencourliss opened #126 "Move openhorizon-tested-versions.txt to .github repo"
Currently the [openhorizon-tested-versions.txt](https://github.com/open-horizon/examples/releases/download/v2.30.0-952/openhorizon-tested-versions.txt) file is generated after a successful e2e dev test has passed in the internal IBM Jenkins pipelines. This file would be better suited to live in the .github repo as it's more central to Open Horizon as a whole. This would involve modifying the IBM J

[2022-09-27 13:41] bencourliss opened #127 "Add new architectures to openhorizon-tested-versions.txt"
The openhorizon-tested-versions.txt file only has amd64 versions in it.
[code]
A request was made to have other architectures represented in this file as well. It is worth mentioning that e2edev testing is not performed against those other architectures.

[2022-09-27 15:49] mounaiban commented on #111
I ran into the same problem too. It may be due to missing vault keys.

From what I can figure out from `vaultUnseal()` in `deploy-mgmt-hub.sh`, the key needed to unseal the vault is missing; `$VAULT_UNSEAL_KEY` is where it should be but the variable is never set.

The key is supposed to come from another file, `/tmp/horizon-all-in-1/vaultkeys.json`, which was never created. We might need to add a

[2022-10-11 15:10] marhabac33 opened #128 "Broken link in README.md mgmt-hub/README.md"
Links in [devops/README.md](https://github.com/open-horizon/devops/blob/master/README.md) and [devops/mgmt-hub/README.md](https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md)

are pointed to https://open-horizon.github.io/docs/devops/ which give an error

[code]

[2022-10-11 15:10] marhabac33 commented on #128
@joewxboy can I work on this issue?

[2022-10-12 12:25] joewxboy commented on #128
Thanks, @marhabac33 and let me know if you have any questions.

[2022-10-14 00:52] marhabac33 opened #130 "Hyperlink format is incorrect on All-in-One doc"
Hyperlink format is HTML therefore it shows up as plain text instead of hyperlink on https://open-horizon.github.io/docs/mgmt-hub/docs/index.html

Note: https://github.com/open-horizon/open-horizon.github.io/pull/339 was delivered to fix the format over in https://github.com/open-horizon/open-horizon.github.io/ . However the approach is wrong because GH action will overwrite the fix next time the

[2022-10-14 00:52] marhabac33 commented on #130
@johnwalicki please assign me the issue. I will have the PR up.

[2022-10-14 00:57] johnwalicki commented on #130
Thanks @marhabac33

[2022-10-14 02:46] #130 closed

[2022-10-14 20:10] johnwalicki opened #132 "Fix Mgmt Hub redirect link"
The https://github.com/open-horizon/devops/blob/master/README.md points to a dead link.
It should point to
https://open-horizon.github.io/docs/mgmt-hub/docs/index.html

[2022-10-14 20:18] jsvigneshkanna commented on #132
Please to my name, will fix it

[2022-10-14 22:04] johnwalicki commented on #132
Actually it was reported in #128  by @marhabac33 but I had not merged the PR yet.  Fixed in #129

That's why I was having deja vu.

[2022-10-14 22:04] #132 closed

[2022-10-27 20:19] johnwalicki opened #133 "deploy-mgmt-hub.sh - Add support for Ubuntu 22.10"
Add support for Ubuntu 22.x in the `mgmt-hub/deploy-mgmt-hub.sh`

[2022-10-28 12:24] #133 closed

[2022-10-28 21:56] playground opened #135 "Error running make publish-only: ARCH=amd64 make publish-service-overwrite"
The latest changes to deploy-mgmt-hub.sh is not completing the installation.  Installation is successful with the previous commit.

[code]

[2022-10-30 18:59] ilamprinos commented on #82
Does anyone have an answer in this I have the exact same problem with the exact same logs.

[2022-10-31 13:12] ilamprinos commented on #82
https://github.com/open-horizon/devops/issues/82#issuecomment-879965016
I am facing the exact same thing. Does anyone have any solution? @oliverchan did you solve it?

[2022-11-01 13:57] naphelps opened #136 "..."

[2022-11-01 13:58] #136 closed

[2022-11-13 15:44] ilamprinos opened #137 "Encounter Error in ./deploy-mgmt-hub.sh Error: exit code 5"
Hello,
I am facing the following problem while running ./deploy-mgmt-hub.sh or curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash (OS: Ubuntu server 22.04 and 18.04). Any ideas on how to solve it?

deploy-mgmt-hub.sh logs:
------- Checking input and initializing...
Management hub services will listen on http://127.0.0.1
Updating apt-get packag

[2022-11-16 04:48] ravinata commented on #82
same error here. I tried like 5 times in brand new Ubuntu VMs both 18.x and 20.x.  I also ensured, I did a apt update, apt upgrade this time...  nothing works and same error.   Jesus. I am tired.  Another point is, we cant re-run this because we get the vault error (Hashicorp vault)...  so, installation cannot be re-run easily or deleted / cleaned-up easily.

[2022-11-16 15:58] ilamprinos commented on #137
@MrHassanMurtaza Unfortunately I have nothing yet. I 'll let you know if I find anything.

[2022-11-17 11:57] ilamprinos commented on #137
@MrHassanMurtaza solved it by changing line 197 of deploy-mgmt-hub.sh to:
export                     MONGO_IMAGE_TAG=${MONGO_IMAGE_TAG:-4.0.18}
from export            MONGO_IMAGE_TAG=${MONGO_IMAGE_TAG:-latest}
Let me know if this worked for you.

[2022-11-17 11:59] ilamprinos commented on #82
@ravinata Check issue #137

[2022-11-18 14:47] MrHassanMurtaza commented on #137
Super!
Thanks @ilamprinos seems to pass through that issue.

[2022-11-29 15:37] joewxboy opened #138 "Create installation instructions for Agent on Windows Subsystem for Linux"
Microsoft and Docker provide some support for Linux on Windows, but there are some complications and the resulting installation is a bit fragile.  Please document the installation process so it is repeatable and adheres to best practices.  Ideally it would only target Windows 10 and 11, which are the only versions that support WSL.  Please create a standalone WSL install page, and link to it from

[2022-11-29 15:39] joewxboy commented on #138
Based on the work by @demopans and @TheMosquito , I've refined the installation instructions and three of us have tested on Windows 10 and 11.  Create a new PR incorporating all of the accumulated changes.